.row
  .large-6.small-12.large-centered.small-centered.columns
    %h1.centered.aqua
      Looking
    %h4.centered
      to
    %h1.centered.aqua
      Lunch
.row
  .large-6.small-12.large-centered.small-centered.columns.centered
    = link_to "Sign Up/In", "/users/auth/twitter", class: "button small radius"

