<div ng-controller="LunchPoolController">
  <div class="row">
    <div class="large-6 columns outlined">
      <div class="row">
        <div class="large-8 columns large-centered centered">
          <h4 class="subheader">
            Invite Lunchmates
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns large-centered centered">
          <img ng-src="{{perspectiveLunchMate.pic}}" class="luncherpic">
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns large-centered centered">
          <span class="handle subheader">{{perspectiveLunchMate.handle}}</span>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns large-centered centered">
          <span class="handle subheader">{{perspectiveLunchMate.info}}</span>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-12 large-centered small-centered columns centered">
          <a ng-click="selectLunchMate(perspectiveLunchMate)" class="letslunch bold" id="nope">Lunch!</a>
          <a ng-click="nope" class="nothanks bold" id="yep">Nope.</a>
        </div>
      </div>
    </div>
    <div class="large-6 columns outlined">
      <h4 class="subheader centered">
        {{ currentUser.twitter }}'s lunch chat room
      </h4>
      <div class="row">
        <div class="large-12 columns large-centered">
          <div class="panel" id="chatroom">
            <ul ng-repeat="message in messages" class="no-bullet">
              <li>from: {{message.from}} | {{message.message}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-9 columns">
          <input type="text" value="new message" ng-model="newMessage">
        </div>
        <div class="large-3 columns button tiny radius" id="send" ng-click="sendMessage(newMessage)">
          send
        </div>
      </div>
    </div>
</div>
