<div class="row">
  <div class="large-8 columns large-centered centered">
    <h4 class="subheader">
      Invite Lunchmates
    </h4>
  </div>
</div>
<div class="row">
  <div class="large-6 columns large-centered centered">
    <img ng-src="{{lunchers[0].img}}" class="luncherpic">
  </div>
</div>
<div class="row">
  <div class="large-6 columns large-centered centered">
    <span class="handle subheader">{{lunchers[0].handle}}</span>
  </div>
</div>
<div class="row">
  <div class="large-6 columns large-centered centered">
    <span class="handle subheader">{{lunchers[0].info}}</span>
  </div>
</div>
<div class="row">
  <div class="large-6 small-12 large-centered small-centered columns centered">
    <a ng-click="letslunch" class="letslunch bold">Lunch!</a>
    <a ng-click="nope" class="nothanks bold">Nope.</a>
  </div>
</div>
