@import "variables";
@import "foundation/components/buttons";

.centered {
  text-align: center;
}

.luncherpic {
  padding: 2px;
  height: 200px;
  width: 200px;
}

.handle {
  font-size: 18px;
}

.aqua {
  color: $aqua;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.bold {
  font-weight: bold;
}

.letslunch {
  @include button(rem-calc(12), $green, true);
  font-size: 18px;
}

.nothanks {
  @include button(rem-calc(12), $red, true);
  font-size: 18px;
}
